.accordion__button {
  display: none;
}

@media (max-width: ($vp-768 - 1px)) {
  .accordion__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
  }

  .accordion__control {
    position: relative;
  }

  .accordion__button {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    border: 0;
    cursor: pointer;
    background-color: $color-black-pearl;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      top: 15px;
      left: 1px;
      background-color: $color-silver;
    }

    &::after {
      transform: rotate(90deg);
    }

    &--shown {
      transform: rotate(540deg);
      transition: all 1s ease-out;
    }
  }

  .accordion__content {
    display: none;
  }

  .accordion--open .accordion__content {
    display: block;
  }

  .accordion--open .accordion__button::after {
    transform: rotate(180deg);
  }
}
