.benefits {
  padding-top: 114px;
  padding-bottom: 96px;
}

.benefits h2 {
  margin: 0;
}

.benefits__list {
  display: grid;
  grid-template-columns: 564px 564px;
  gap: 30px;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
}

.benefits__item {
  list-style-type: none;
  padding: 36px 18px 65px 37px;
  min-height: 284px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;

  &:hover {
    background-color: $color-deep-sky-blue;
  }

  &:hover h3,
  &:hover p {
    color: $color-alice-blue;
  }

  &:hover .benefits__icon {
    fill: $color-alice-blue;
  }
}

.benefits__icon {
  fill: $color-deep-sky-blue;
  margin-bottom: 11px;
}

.benefits h3 {
  font-size: $ff-roboto-condensed;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.1em;
  color: $color-deep-sky-blue;
  margin: 0;
  margin-bottom: 9px;
}

.benefits p {
  margin: 0;
  line-height: 135%;
}

@media (max-width: ($vp-1920 - 1px)) {
  .benefits {
    padding-top: 116px;
    padding-bottom: 106px;
  }

  .benefits__list {
    grid-template-columns: 595px 595px;
  }

  .benefits__item {
    padding: 39px 22px 70px 40px;
    min-height: 300px;
  }

  .benefits__icon {
    margin-bottom: 14px;
  }

  .benefits h3 {
    margin-bottom: 13px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .benefits {
    padding-top: 80px;
    padding-bottom: 59px;
  }

  .benefits__list {
    grid-template-columns: 1fr 1fr;
  }

  .benefits__item {
    padding: 37px 30px 31px 39px;
    min-height: 360px;
  }

  .benefits__icon {
    margin-bottom: 10px;
  }

  .benefits h3 {
    margin-bottom: 9px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .benefits {
    padding-top: 49px;
    padding-bottom: 31px;
  }

  .benefits__list {
    grid-template-columns: 270px;
  }

  .benefits__item {
    padding: 27px 23px 35px;
    min-height: 340px;
  }

  .benefits__item--height {
    min-height: 325px;
  }

  .benefits__icon {
    margin-bottom: 6px;
  }

  .benefits h3 {
    font-size: 20px;
    line-height: 140%;
  }

  .benefits p {
    font-size: 14px;
    line-height: 135%;
  }
}
