.benefits {
  padding-top: 120px;
  padding-bottom: 105px;
}

.benefits h2 {
  margin: 0;
}

.benefits__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
}

.benefits__item {
  list-style-type: none;
  padding: 40px 25px 70px 40px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;
  min-height: 300px;

  &:hover {
    background-color: $color-deep-sky-blue;
  }

  &:hover h3,
  &:hover p {
    color: $color-alice-blue;
  }

  &:hover .benefits__icon {
    fill: $color-alice-blue;
  }
}

.benefits__icon {
  fill: $color-deep-sky-blue;
  margin-bottom: 13px;
}

.benefits__item h3 {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: $color-deep-sky-blue;
  margin: 0;
  margin-bottom: 13px;
}

.benefits p {
  margin: 0;
  line-height: 135%;
}

@media (max-width: ($vp-1920 - 1px)) {
  .benefits {
    padding-top: 116px;
    padding-bottom: 106px;
  }

  .benefits__list {
    grid-template-columns: 595px 595px;
  }

  .benefits__item {
    padding: 41px 22px 70px 40px;
    min-height: 300px;
  }

  .benefits__icon {
    margin-bottom: 16px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .benefits {
    padding-top: 80px;
    padding-bottom: 59px;
  }

  .benefits__list {
    grid-template-columns: 320px 320px;
  }

  .benefits__item {
    min-height: 360px;
    padding-bottom: 30px;
    padding-right: 25px;
  }

  .benefits__icon {
    margin-bottom: 10px;
  }

  .benefits h3 {
    margin-bottom: 9px;
    letter-spacing: 0;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .benefits {
    padding-top: 49px;
    padding-bottom: 31px;
  }

  .benefits__list {
    grid-template-columns: 270px;
  }

  .benefits__item {
    padding: 27px 32px 35px 23px;
    min-height: 340px;
  }

  .benefits__icon {
    margin-bottom: 6px;
  }

  .benefits__item--height {
    min-height: 325px;
  }

  .benefits__item--height .benefits__icon {
    margin-bottom: 8px;
  }

  .benefits__item--height h3 {
    margin-bottom: 14px;
  }

  .benefits h3 {
    font-size: 20px;
    line-height: 140%;
  }

  .benefits p {
    font-size: 14px;
    line-height: 135%;
  }
}
