.custom-input,
.custom-textarea {
  position: relative;
  display: flex;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {
      flex-grow: 1;
      max-width: 100%;
      min-height: 48px;
      margin-left: auto;
      padding: 14px;
      border-radius: 5px;
      outline: none;
      transition: border 0.3s ease;

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }
    }
  }

  &.is-invalid {
    input,
    textarea {
      outline: 1px solid $color-torch-red;

      @include hover-focus {
        outline: 1px solid $color-wild-watermelon;
      }
    }
  }

  &.is-valid {
    input {
      outline: 1px solid $color-green;

      @include hover-focus {
        outline: 1px solid $color-la-palma;
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    line-height: 16px;
    font-size: 14px;

    &.is-invalid {
      color: $color-torch-red;
    }

    &.is-valid {
      color: $color-green;
    }
  }
}
