.footer {
  background-color: $color-black-pearl;
  padding: 57px 0 55px 0;
}

.footer__box {
  display: flex;
  justify-content: center;
}

.footer img {
  margin-top: -6px;
}

.footer__list {
  padding-left: 0;
  margin-bottom: 0;
}

.footer__list--nav {
  column-count: 2;
  column-gap: 15px;
}

.footer__contact {
  padding-left: 27px;
}

.footer__item {
  break-inside: avoid-column;
}

.footer h2 {
  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 21px;
}

.footer__link,
.footer p {
  display: inline-block;
  line-height: 135%;
  color: $color-white-transparency;
  margin-bottom: 8px;
  margin-top: 0;
}

.footer__link {
  margin-bottom: 8px;
  @include hover-focus {
    color: $color-deep-sky-blue;
  }

  @include active {
    color: $color-default-white;
  }
}

.footer__nav {
  padding-left: 159px;
}

@media (max-width: ($vp-1920 - 1px)) {
  .footer {
    padding-top: 55px;
  }

  .footer img {
    margin-top: -7px;
  }

  .footer__nav {
    padding-left: 162px;
  }

  .footer__contact {
    padding-left: 0;
  }

  .footer__list {
    column-gap: 0;
  }

  .footer__link {
    margin-bottom: 7px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .footer {
    padding-top: 49px;
  }

  .footer__box {
    display: grid;
    grid-template-areas: "social social"
    "nav contact";
    row-gap: 30px;
    column-gap: 30px;
    justify-content: space-between;
  }

  .footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: social;
  }

  .footer__nav {
    grid-area: nav;
    padding-left: 0;
  }

  .footer__list--nav {
    column-count: 1;
  }

  .footer__contact {
    grid-area: contact;
  }

  .footer__list--column {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    margin-bottom: 7px;
  }

  .footer__item {
    max-width: 320px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .footer {
    padding-top: 44px;
  }

  .footer__box {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .footer__social {
    flex-direction: column;
  }

  .footer__nav,
  .footer__contact {
    position: relative;
    border-top: 1px solid rgba(248, 253, 255, 0.7);
  }

  .footer__nav {
    padding-top: 3px;
  }

  .footer__contact {
    margin-top: 0;
    padding-left: 0;
    padding-top: 2px;
  }

  .footer h2 {
    margin: 0;
    padding: 20px 0;
  }

  .footer p,
  .footer__link  {
    font-size: 14px;
    line-height: 135%;
    min-width: 280px;
  }

  .footer p {
    margin-bottom: 15px;
  }

  .footer__list {
    margin: 0;
    padding: 0 25px;
    padding-bottom: 10px;
  }
}
