.footer {
  background-color: $color-black-pearl;
  padding: 50px 0 55px 0;
}

.footer__box {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  padding-left: 0;
}

.footer__list--nav {
  column-count: 2;
  column-gap: 20px;
}

.footer__item {
  break-inside: avoid-column;
}

.footer h2 {
  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.footer__link,
.footer p {
  display: block;
  line-height: 135%;
  color: $color--white-transparency;
  margin-bottom: 10px;
}

.footer__link {
  @include hover-focus {
    color: $color-deep-sky-blue;
  }

  @include active {
    color: $color-default-white;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .footer__box {
    display: grid;
    grid-template-areas: "social social"
                          "nav contact";
    row-gap: 35px;
    column-gap: 130px;
  }

  .footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: social;
  }

  .footer__nav {
    grid-area: nav;
  }

  .footer__list--nav {
    column-count: 1;
  }

  .footer__contact {
    grid-area: contact;
  }

  .footer__list--column {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .footer__box {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .footer__social {
    flex-direction: column;
  }

  .footer__nav,
  .footer__contact {
    position: relative;
    border-top: 1px solid rgba(248, 253, 255, 0.7);
  }

  .footer__contact {
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }

  .footer h2 {
    margin: 0;
    padding: 20px 0;
  }

  .footer__list {
    margin: 0;
    padding: 0 16px;
    padding-bottom: 10px;
  }

  .footer__text {
    margin-top: 0;
    margin-bottom: 15px;
  }
}
