@media (max-width: ($vp-1920)) {
  .form {
    padding-top: 170px;
    padding-bottom: 250px;
    background-size: cover;
    background: linear-gradient(319deg, $color-deep-sky-blue 64%, $color-cerulean 64%);
  
    &--modal {
      position: relative;
      max-width: 500px;
      background: $color-deep-sky-blue;
      padding: 40px;
    }
  }
  
  .form__box {
    position: relative;
    max-width: 580px;
    margin-left: auto;
    color: $color-default-white;
  
      &::before {
      position: absolute;
      content: "";
      width: 510px;
      height: 285px;
      top: 77px;
      left: -630px;
      @include graphic-retina("../img/paper-airplane", "png");
      background-size: 100%;
    }
  }
  
  .form h2 {
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin: 0;
    margin-bottom: 15px;
  }
  
  .form p {
    margin: 0;
    margin-bottom: 35px;
  }
  
  .form__inner {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 35px;
  
    &--modal {
      flex-direction: column;
      align-items: stretch;
      gap: 20px;
      margin-top: 25px;
    }
  }
  
  .form__field {
    display: inline-block;
    flex: 1 1;
    width: 100%;
  }
  
  .form__field input,
  .form__comment textarea {
    padding: 15px 0 15px 15px;
    background: $color-pattens-blue;
    border: none;
    border-radius: 3px;
  }
  
  .form__field input {
    display: block;
    width: 100%;
  
    &::placeholder {
      color: $color-default-white;
    }
  
    &:not(:disabled):hover,
    &:not(:disabled):focus {
      outline: 1px solid $color-black-pearl;
    }
  
    &:active::placeholder {
      color: $color-default-white;
    }
  }
  
  .form__comment {
    margin-top: 20px;
  }
  
  .form__comment textarea {
    width: 100%;
    padding-top: 25px;
    padding-left: 15px;
  
    &::placeholder {
      color: $color-default-white;
    }
  
    &:not(:disabled):hover,
    &:not(:disabled):focus {
      outline: 1px solid $color-black-pearl;
    }
  
    &:active::placeholder {
      color: $color-default-white;
    }
  }
  
  .form__button {
    font-family: $ff-roboto-condensed;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-default-white;
    padding: 15px 70px;
    background: $color-black-pearl;
    border: none;
    border-radius: 3px;
    flex-shrink: 0;
  
    @include hover-focus {
      background: $color-alice-blue;
      outline: 2px solid $color-black-pearl;
      color: $color-black-pearl;
    }
  
    @include active {
      background: $color-alice-blue;
      outline: 2px solid $color-black-pearl;
      color: $color-black-pearl;
    }
  }

  .form__checkbox {
    position: relative;
    padding-left: 24px;
  }

  .form__checkbox label {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
    opacity: 0.8;
  }

  .form__checkbox-visible::before {
    position: absolute;
    content: "";
    left: 0;
    top: 8px;
    width: 15px;
    height: 15px;
    border: 1px solid $color-default-white;
    border-radius: 2px;
  }

  
  .form__checkbox input[type=checkbox]:checked + .form__checkbox-visible::after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    top: 12px;
    left: 3px;
    background-image: url("../../img/svg/check-mark.svg");
  }

  .form__checkbox label {
    @include hover-focus {
      color: $color-black-pearl;
    }
  }
  
  .form__checkbox-visible--modal::before {
    top: 4px;
  }
  
  .form__checkbox input[type=checkbox]:checked + .form__checkbox-visible--modal::after {
    top: 7px;
  }

  .form__checkbox input:hover + .form__checkbox-visible::before,
  .form__checkbox input:focus + .form__checkbox-visible::before {
    border: 1px solid $color-black-pearl;
  }

  .form__checkbox input:hover + .form__checkbox-visible--modal::before,
  .form__checkbox input:focus + .form__checkbox-visible--modal::before {
    border: 1px solid $color-black-pearl;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .form {
    background: $color-deep-sky-blue;
    padding-top: 50px;
    padding-bottom: 125px;
  }

  .form__box {
    max-width: 100%;
    margin: 0;

    &::before {
      content: none;  
    }
  }

  .form__button {
    margin-right: 55px;
  }

  .form__field label {
    max-width: 200px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .form h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 140.62%;
    margin-bottom: 20px;
  }

  .form p {
    font-size: 14px;
    line-height: 134.4%;
    max-width: 200px;
    margin-bottom: 40px;
  }

  .form__inner {
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }

  .form__field label {
    width: 100%;
  }

  .form__comment {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .form__button {
    margin-right: 0;
    margin-bottom: 5px;
    width: 100%;
  }
}
