.form {
  position: relative;
  padding-top: 170px;
  padding-bottom: 250px;
  background-color: $color-deep-sky-blue;
  @include graphic-retina("../img/background-form", "jpg");
  background-size: cover;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   width: 510px;
  //   height: 285px;
  //   top: 50%;
  //   left: 100px;
  //   @include graphic-retina("../img/paper-airplane", "png");
  //   background-size: 100%;
  // }
}

.form__title {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 15px;
}

.form__text {
  color: $color-default-white;
  margin: 0;
  margin-bottom: 35px;
}

.form__inner {
  display: flex;
  gap: 30px;
  align-items: center;
}

.form__input {
  width: 275px;
}

.form__input,
.form__field {
  color: $color-default-white;
  padding: 15px 0 15px 15px;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
}

.form__button {
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  padding: 15px 70px;
  background: $color-black-pearl;
  border: none;
  border-radius: 3px;
  flex-shrink: 0;
}

.form__checkbox {
  position: relative;
  padding-left: 24px;
}

.form__checkbox-visible::before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;
  border-radius: 2px;
}

.form__input[type=checkbox]:checked+.form__checkbox-visible::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 12px;
  left: 3px;
  background-image: url("../../img/svg/check-mark.svg");
}


.form-label {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
}