.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: $black-to-right;
  padding: 25px 0;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo {
  padding-top: 4px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 118px;
  padding-left: 0;
  padding-right: 6px;
}

.header__link {
  display: flex;
  align-items: center;
  color: $color-alice-blue;

  @include hover-focus {
    color: $color-deep-sky-blue;

    .header__icon {
      fill: $color-alice-blue;
    }
  }

  @include active {
    color: $color-silver;

    .header__icon {
      fill: $color-silver;
    }
  }
}

.header__icon {
  fill: $color-deep-sky-blue;
  margin-right: 15px;
}

.header__button {
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color-alice-blue;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  background-color: transparent;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 61px;

  @include hover-focus {
    color: $color-black-pearl;
    background-color: $color-alice-blue;
  }

  @include active {
    color: $color-black-pearl;
    border: 1px solid $color-deep-sky-blue;
    background-color: $color-deep-sky-blue;
  }
}

@media (max-width: ($vp-1920 - 1px)) {
  .header__list {
    gap: 123px;
  }

  .header__link {
    align-items: center;
  }

  .header__button {
    padding: 11px 16px;
  }
}

@media (max-width: ($vp-1440 - 1px)) {
  .header__nav {
    max-width: 900px;
  }

  .header__button {
    margin-right: 0;
  }

  .header__list {
    gap: 30px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .header {
    position: relative;
    padding: 5px 20px 25px 0;
  }

  .header__nav {
    justify-content: space-between;
    align-items: flex-end;
  }

  .header__list {
    gap: 20px;
    flex-wrap: wrap;
    padding-right: 0;
  }

  .header__link {
    padding: 10px;
  }

  .header__icon {
    margin: 0;
  }

  .header__text {
    display: none;
  }

  .header__button {
    display: none;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .header {
    padding: 10px 35px 20px 26px;
  }

  .header__list {
    margin: 0;
  }
}
