.information {
  display: flex;
  padding-bottom: 120px;
}

.information__box {
  position: relative;
  margin-left: 350px;
  padding-left: 249px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 146px;
    height: 319px;

    @include graphic-retina("../img/2022", "png");
    background-repeat: no-repeat;
    background-size: 149px 319px;
  }
}

.information h2 {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  margin-bottom: 12px;
}

.information p {
  line-height: 22px;
  margin: 0;
  margin-bottom: 19px;
  max-width: 970px;
}

.information__text-more {
  display: none;
}

.information__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-deep-sky-blue;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  background: transparent;
  padding: 13px 49px;
  margin-top: 22px;
  cursor: pointer;

  @include hover-focus {
    border: 1px solid $color-black-pearl;
    color: $color-black-pearl;
  }

  @include active {
    border: 1px solid $color-black-pearl;
    color: $color-alice-blue;
    background: $color-black-pearl;
  }
}

@media (max-width: ($vp-1920 - 1px)) {
  .information {
    justify-content: center;
  }

  .information__box {
    margin-left: 1px;

    &::after {
      left: -2px;
      width: 145px;
      height: 318px;
      background-size: 145px 318px;
    }
  }

  .information p {
    margin-bottom: 21px;
  }

  .information__button {
    margin-top: 18px;
    padding: 13px 48px;
  }
}

@media (max-width: ($vp-1440 - 1px)) {
  .information__box {
    margin-left: 0;
    padding-right: 32px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .information {
    padding-bottom: 79px;
  }

  .information p {
    margin-bottom: 19px;
    max-width: 496px;
  }

  .information__box {
    margin-left: 30px;
    padding-left: 180px;

    &::after {
      left: 3px;
      top: 5px;
    }
  }

  .information h2 {
    margin-bottom: 10px;
  }

  .information__button {
    margin-top: 0;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .information__box {
    margin-left: 0;
    padding: 0 25px;

    &::after {
      content: none;
      position: none;
      background-image: none;
    }
  }

  .information h2 {
    font-size: 28px;
    line-height: 140.62%;
  }

  .information p {
    font-size: 14px;
    line-height: 134.4%;
    width: 100%;
  }

  .information__button {
    padding: 8px 38px;
  }
}
