.modal {
  position: fixed;
  top: -36.5%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;
  pointer-events: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal--fit-content {
  @include vp-767 {
    width: 100%;
  }
}

.modal__icon {
  fill: $color-default-white;

  @include hover-focus {
    fill: $color-black-pearl;
  }

  @include active {
    fill: $color-alice-blue;
  }
}

.modal__wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 60px 40px;

  @include vp-767 {
    padding: 60px 16px;
  }
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal__content {
  position: relative;
  color: $color-default-white;
  padding: 40px;
  background: $color-deep-sky-blue;
  max-width: 500px;
  min-height: 610px;
  margin-right: 7px;

  & h2 {
    margin-bottom: 1px;
    margin-left: 0;
    font-size: 30px;
    line-height: 140.62%;
  }

  @include vp-767 {
    width: 100%;
    padding: 20px;
  }

  & h2 {
    margin-bottom: 1px;
    font-size: 30px;
    line-height: 140.62%;
  }
}

.modal__close-btn {
  position: absolute;
  top: 16px;
  right: 14px;
  z-index: 1;
  width: 40px;
  height: 40px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: ($vp-1920 - 1px)) {
  .modal {
    top: -20.5%;
  }

  .modal__content {
    padding: 39px;
    background: $color-deep-sky-blue;
    margin-right: 15px;

    & h2 {
      margin-bottom: 1px;
    }
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .modal {
    top: 0;
  }

  .modal__content {
    padding: 40px;

    & p {
      max-width: 100%;
    }
  }
}
