.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 0;
  margin-top: 35px;
  margin-left: 16px;
}

.social__icon {
  fill: $color-alice-blue-ligth;

  @include hover-focus {
    fill: $color-deep-sky-blue;
  }

  @include active {
    fill: $color-default-white;
  }
}

@media (max-width: ($vp-1920 - 1px)) {
  .social__list {
    gap: 25px;
    padding-left: 0;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .social__list {
    margin-top: 10px;
    padding-left: 297px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .social__list {
    margin-left: 0;
    margin-bottom: 22px;
    margin-top: 19px;
    padding-left: 0;
  }
}
